<div class="landing-section">
  <div class="bio-block">
    <p class="desc">
      <span class="emp-1">ClassyTrips.in</span> is a
      <span class="emp">Travel Planner Company</span> based in Odisha. Here, we
      aim to be the <span class="emp">One Stop Solution</span> to cater all your
      <span class="emp">Travel Needs</span>.
    </p>
    <p class="book-text">Book a trip to your favourite destination now</p>
    <div class="social-block d-flex">
      <a class="social-btn justify-content-end">
        <img src="./../../../assets/icons/fbb.png" (click)="openSocial('fb')" alt="" class="social-icon">
        <img src="./../../../assets/icons/igg.png" (click)="openSocial('ig')" alt="" class="social-icon">
      </a>
    </div>
  </div>

</div>
