<div class="landing-section">
  <div class="bio-container">
    <div class="bio-block">
      <p class="desc"><span class="emp-1">ClassyTrips.in</span> is a <span class="emp">Travel Planner Company</span> based in Odisha</p>
      <p class="desc">Here, we aim to be the <span class="emp">One Stop Solution</span> to cater all your <span class="emp">Travel Needs</span></p>
    </div>
  </div>
  <div class="services-block text-center">
    <div class="title-container">
      <h3 class="block-title">Our Services</h3>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="./../../../assets/icons/travel.png" alt="" class="icon">
          <h2 class="title">Travel</h2>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="./../../../assets/icons/burger.png" alt="" class="icon">
          <h2 class="title">Food</h2>

        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="./../../../assets/icons/hotel.png" alt="" class="icon">
          <h2 class="title">Stay</h2>

        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="./../../../assets/icons/adventure.png" alt="" class="icon">
          <h2 class="title">Thematic Trips</h2>
        </div>
      </div>
    </div>
  </div>
</div>

