.landing-section {
  display: block;
  position: relative;
  height: 100vh;
  background: url('./../../../assets/images/bg_1.webp');
  max-width: 100vw;
  background-size: cover;
  margin-top: -70px;
  @media (max-width: 500px) {
    background: url('./../../../assets/images/bg-small.jpg') no-repeat center right fixed;
    background-size: cover;
  }
  .bio-block {
    display: block;
    position: relative;
    padding-top: 160px;
    text-align: center;
    width: 100vw;
    margin: 0 auto;

    .desc {
      display: block;
      position: relative;
      color: #00095e;
      font-size: 30px;
      font-weight: 700;
      max-width: 760px;
      margin: 0 auto;
      .emp {
        font-size: 30px;
        color: #2700ff;

        @media (max-width: 500px) {
          font-size: 14px;
        }
      }

      .emp-1 {
        font-size: 46px;
        color: #fffb00;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }

      @media (max-width: 500px) {
        font-size: 14px;
        max-width: 80%;
      }
    }
  }
}

@keyframes slidein {
  from {
    display: none;
  }

  to {
    display: block;
  }
}
