<header class="header-outer">
  <div class="header-inner">
    <div class="header-logo">
      <img src="./../../../assets/icons/logo-black.png" />
    </div>
    <nav class="header-navigation">
      <!-- <a href="#" [routerLink]="['/']" class="menu-link" routerLinkActive="router-link-active">Home</a> -->
      <!-- <a href="#">About</a> -->
      <!-- <a href="#" [routerLink]="['/services']" class="menu-link" routerLinkActive="router-link-active" >Services</a> -->
      <button class="contact-us">
        <a href="https://www.facebook.com/ClassyTripsin-101760119105202" class="contact-btn">
          <!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
          Cantact Us
        </a>
      </button>
    </nav>
  </div>
</header>
