<div class="page-background">
  <div class="header">
    <img src="./../assets/icons/logo.png" class="logo" alt="" />
    <img src="./../assets/icons/trolley-bag-1.svg" class="troley" alt="" />
  </div>
  <div class="title-block">
    <p>
      One life. One world. Explore it as much as you can.😊 <br />
      Customise & Personalise your trips with us.❤️<br />
    </p>
  </div>
  <div class="footer">
    <p class="title">Connect with us</p>
    <a href="https://www.facebook.com/ClassyTripsin-101760119105202" class="social">
      <img src="./../assets/icons/fb.png" class="icons me-3" alt="">
    </a>
    <a href="https://www.instagram.com/classytrips.in/" class="social">
      <img src="./../assets/icons/ig.png" class="icons" alt="">
    </a>
  </div>
</div>
