.footer-bg {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url("./../../../assets/images/footer-bg.jpg");
  height: 80px;
  padding: 20px;

  .social-block {
    display: block;
    text-align: center;
    position: relative;

    a {
      margin: 30px 5px;
    }
    .fa {
      font-size: 28px;
      @media (max-width: 500px) {
        font-size: 22px;
      }
    }
  }
  .footer-desc{
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
}
